@import '/src/shared/styles/variables';

.title {
  margin-bottom: 40px;

  font-family: PoppinsRegular;
  font-size: 30px;
  line-height: calc(45 / 30);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  font-family: CirceRegular;
  font-size: 18px;
  line-height: calc(27 / 18);
}

.field {
  width: 394px;
  padding: 8px, 12px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.wrapper .field {
  width: 181px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.type {
  color: getColor('secondary-text-color');
  font-family: CirceBold;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.income {
  color: getColor('primary-color');
}

.expense {
  color: getColor('secondary-color');
}

.inputBox {
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}
