body {
  background-color: #e7eaf2;
  background-image: url(../../images/background/Ellipse1.png), url(../../images/background/Ellipse2.png);
  background-repeat: no-repeat;
  background-position: 0 100%, 100% 0;
}
