.containerInner {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.logoBox {
  display: flex;
}
.exitBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet {
  margin-left: 20px;
  font-family: PoppinsBold;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #000000;
}

.button {
  margin-left: 8px;
  background-color: transparent;
  border: none;
  font-family: CirceRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  cursor: pointer;
}

.name {
  font-family: CirceRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
}

.exit {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.vector {
  margin: 0 12px;
}
.button__question {
  font-family: CirceBold;
  display: block;
  width: 90px;
  height: 25px;
  border: none;
  border-radius: 18px;
  color: #ffffff;
  background-color: #24cca7;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 20px 7px, 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button__question:hover {
  background-color: #0d856b;
}

.button__wrapper {
  display: flex;
  justify-content: space-between;
}
.question {
  font-family: CirceBold;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 50px 30px -7px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
  padding: 10px;
  color: black;
}
