.wrapper {
  overflow: hidden;
}

.box {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.leftSide {
  min-width: 557px;
}

.rightSide {
  min-width: 57vw;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
}

.imgLeft {
  margin-top: 150px;
  margin-bottom: 28px;
  margin-left: 76px;
  margin-right: 38px;
}

.text {
  font-family: PoppinsRegular;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.formBox {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
}
