.form {
  width: 280px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
}

.link {
  display: inline-block;
  width: 280px;
  height: 50px;
  padding: 13px 15px;
  margin-bottom: auto;

  background-color: #ffffff;
  border: 1px solid #4a56e2;
  border-radius: 20px;

  font-family: CirceRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4a56e2;
}
