.form {
  width: 280px;
  margin: auto;
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
