.tbody {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 282px;
  outline: 1px solid red;
  padding: 0 20px 0 20px;
  // min-width: 320px;
  max-width: 280px;

  margin-top: 8px;
  margin-bottom: 8px;
  height: 282px;
  outline: 1px solid red;
}
tbody:first-child {
  margin-top: 32px;
}
.body {
  text-align: end;
  padding-right: 20px;
  padding-top: 12px;
}
.head {
  padding-left: 20px;
}
tr {
  border-bottom: 1px solid #dcdcdf;
}
.table {
  width: 280px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.table :first-child {
  margin-top: 32px;
}
